*{
    box-sizing: border-box;
}
:root{
  --black: #000000;
  --white: #ffffff;
  --green: #9DD211;
  --pink: #e75480;
}

/* HOME PAGE */
.home {
  background-color: var(--black);
  margin: 0;
  font-family: Arial;
  margin: 0 auto;
}
.navbar{
  background-color: var(--green);
}

video {
    position: relative;
    width: 100%;
    height: 100%;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
/* GALERÃA HOMEPAGE */
.gallery-container {
  position: relative;
  display: inline-block;
}

.overlay-image {
  position: absolute;
  top: 5%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 1;
  width: 30%;
}
.grid-wrapper {
  position: relative;
  z-index: 0;
  margin-top: 50px; 
} 
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    --bs-gutter-x: 0em !important;
    margin-top: 0em;    
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10%;   
}
.text-center{
  font-family: Arial;
  color: var(--white);
}
.container {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}
.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}
.mouse {
  width: 50px;
  height: 90px;
  border: var(--white) 3px solid;
  border-radius: 60px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}
@keyframes wheel {
  to {
      opacity: 0.1;
      top: 60px;
  }
}
 /* PEGATINAS */
.sticker {
  position: absolute;
  max-width: 150px;
  cursor: grab;
  transition: transform 0.2s ease;
  z-index: 1;
}
.sticker2 {
  position: absolute;
  max-width: 150px;
  cursor: grab;
  transition: transform 0.2s ease;
  top: 62%;
    left: 28%;
    z-index: 1;
}
.sticker:hover {
  transform: scale(1.2);
}
.sticker2:hover {
  transform: scale(1.2);
}

.sticker:nth-child(1) {
  top: 20px;
  left: 50px;
}

.sticker:nth-child(2) {
  top: 30%;
  left: 58%;
  
}
.sticker2:nth-child(1) {
  top: 20px;
  left: 50px;
}

.sticker2:nth-child(2) {
  top: 80%;
  left: 80%;
  
}

@media screen and (max-width: 766px) {
  .sticker{
   display: none;
  } 
  #generator {
    justify-content: baseline;
  }
}

@media screen and (max-width: 991px) {
  .sticker:nth-child(2) {
    top: 21%;
    left: 42%;
}
}
@media screen and (max-width: 991px) {
  .sticker2 {
    display: none;
}
}

@media screen and (max-width: 1200px) {
  .sticker2{
    top: 62%;
    left: 25%;
  }
}


.grid-wrapper {
  padding: 1rem 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  opacity: 0;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper .wide {
  grid-column: span 2;
}
.grid-wrapper .tall {
  grid-row: span 2;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

/* MEDIAQUERIS GALERIA */
@media screen and (max-width: 768px) {
  .grid-wrapper {
    grid-template-columns: 1fr; 
  }

}

/* SPOTIFY */
#spotiquote {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 45px;
  align-items: center;
}

#spotiquote iframe {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
}

#spotiquote figure {
  display: flex;
  justify-content: center;
  margin: 0;
}

#spotiquote img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

@media (max-width: 768px) {
  #spotiquote {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}


/* GENERADOR BRAT */
#generator {
  display: flex;              
  flex-direction: column;     
  align-items: center;       
  justify-content: flex-start;    
  min-height: 100vh;          
  text-align: center;   
  padding-top: 5em;     
}
.generatordiv{
  display: flex;              
  flex-direction: column;     
  align-items: center;       
  justify-content: center; 
}
.generatordiv h1{
  color: var(--white); 
}
#inputText{
  border: var(--green);
  border-style: solid;
  border-radius: 0.5em;
}
#inputText {
  width: 100%;
  padding: 10px;
  resize: none;
}
.button {
  margin-top: 1em ;
}
.container3 {
  position: relative;
  width: 400px; 
  height: 400px;
  margin: 20px auto;
  border: 2px solid var(--black);
}
.background {
  width: 100%;
  background-color: var(--green);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}
.text-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: var(--black);
  padding: 20px;
  width: 90%;
  height: 90%;
  overflow-wrap: break-word;
  padding: 5%;
  text-align: justify;
  text-align-last: justify;
  box-sizing: border-box;
  filter: blur(1.5px);

}
.button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 5px;
}
@media (max-width: 480px) {
  .container3 {
      max-width: 300px; 
      height: 300px; 
  }
  .text-overlay {
      font-size: 24px; 
  }
  #inputText {
      width: 100%; 
      padding: 10px;
  }
}



/* FOOTER */

footer {
  background-color: var(--green);
  color: var(--black);
  padding: 20px 0; 
  text-align: center;
}
.footeraligment{
  display: flex !important;
  align-content: center !important;
  align-items: stretch !important;
  flex-direction: column !important
}
.footer-logo img {
  width: 200px;
}
.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
}

#subscribe {
  color: var(--black);
  text-align: left;
  max-width: 300px;
  margin: 0 auto;
}

#subscribe h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#subscribe p {
  font-size: 1rem;
  margin-bottom: 10px;
}
#subscribe-form input[type="email"] {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

#subscribe-form button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--black);
  color:var(--white);
  cursor: pointer;
  width: 100%;
}

.footer-bottom {
  font-size: 0.8rem;
  color: var(--black);
  text-align: center;
  margin-top: 10px;
}

.footer-bottom a {
  color: var(--black);
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.8rem;
}


.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 10px;
}

.social-icons a {
  color: var(--black);
  font-size: 1.2rem;
}
/* -------CSS TICKETS------ */

body.tickets {
  background-color: var(--black)!important;
 }

.overlay-image {
  position: absolute;
  top: 5%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 1;
  width: 30%;
}

.btn-light:hover {
    background-color: var(--green) !important;
    border-color: var(--green) !important;     
}
.table-custom .btn-light:hover {
  background-color: var(--green);
  color: var(--black);
}

.background-container {
  background-image: url(../img/concierto.jpeg) !important;
  background-size: cover;
  background-position: center;
  padding: 50px; 
  height: 100vh; 
  display: flex;
  justify-content: flex-end; 
  align-items: center;  
}

.fondo-contenedor {
  background-image: url('../img/FONDOTABLA.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.table,
.table thead,
.table tbody,
.table th,
.table td {
  background-color: transparent !important;
  color: var(--white) !important;
  border-color: transparent !important; 
}

.row.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.tabla-derecha {
  margin-left: auto;
  background-color: transparent !important;
}


.fondo-tabla {
  background-color: transparent !important;
  border: none;
}
.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

.contenedor-derecha {
  margin-top: -50px;
}

#carouselExampleSlidesOnly .carousel-inner img {
  width: 100%;
  height: 500px; 
  object-fit: cover; 
}

.sponsor-marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: var(--green); 
  padding: 1em 0;
}

.sponsor-track {
  display: inline-flex;
  animation: scroll 60s linear infinite;
}

.sponsor-item {
  display: inline-block;
  margin: 0 2em; 
  font-size: 1.2em;
  color: var(--black);
  text-shadow: var(--black); 
  font-weight: bold;
}

.newplaces {
  padding-left: 13%;
  padding-top: 6%;
  padding-bottom: 6%;
  color: var(--white);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.newplaces > h1 {
  font-size:1em ;
}


@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); } 
}
.btn-primary{
  background-color: var(--green)!important;
    border-color: var(--green) !important; 
}
.form-group {
  padding-bottom: 1em;
}

/* SHOP */



.shop {
  background-color: var(--black);
  color: var(--white);
}


.containershop {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 5em;
}
h3 {
  text-align: center;
  color: var(--pink) !important;
  padding-bottom: 0.5em;
}
.product-grid {
  display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}
.product-card {
  background-color: var(--white);
  
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.product-card:hover {
  transform: scale(1.05);
}
.product-image img {
  width: 100%;
  height: auto;
}
.product-info {
  padding: 15px;
  text-align: center;
}
.product-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #333;
}
.product-price {
  font-size: 16px;
  color: #666;
  margin: 0 0 10px;
}
.btns {
  background-color: var(--green);
  color: var(--white);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.btns:hover {
  background-color: var(--black)!important;
}

@media (min-width: 768px) {
  .product-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .product-grid {
      grid-template-columns: repeat(2, 1fr);
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10em;}
}

@media (max-width: 480px) {
  .product-grid {
      grid-template-columns: 1fr;
  }

  h2 {
      font-size: 18px;
  }

  .product-name {
      font-size: 14px;
  }

  .product-price {
      font-size: 12px;
  }

  .btns {
      padding: 6px 12px;
      font-size: 14px;
  }
}



#menu {
  position: relative;
  z-index: 10;
}

.navbar-collapse {
  background-color: rgba(160, 208, 0, 0.95); 
  z-index: 10;
}

.navbar-toggler {
  z-index: 11;
}

/* MEDIA QUERIS MOVIL  */
@media (max-width: 450px) {
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
  }
  .navbar-collapse {
    background-color: rgba(160, 208, 0, 0.95);
  }

  .mt-5 {
    padding-top: 40rem !important;
  }

  .overlay-image {
    padding-top: 70rem;
  }

  #generator {
    padding-top: 0 !important;
  }

  .marqueeprincipal {
    margin-top: 40.5em;
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
  }
  
  .image-overlay img {
    max-width: 80%; 
    height: auto;
  }
}
