

/* CSS INDEX */

*{
    box-sizing: border-box;
}

/* body */
.home {
  background-color: #000000;
  margin: 0;
  font-family: Arial;
  margin: 0 auto;
  
}
.navbar{
  background-color: #9DD211;
}

video {
    position: relative;
    width: 100%;
    height: 100%;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
.gallery-container {
  position: relative;
  display: inline-block;
}

.overlay-image {
  position: absolute;
  top: 5%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 1;
  width: 30%;
}

.grid-wrapper {
  position: relative;
  z-index: 0;
  margin-top: 50px; 
}

  
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    --bs-gutter-x: 0em !important;
    margin-top: 0em;
    
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10%;
    
}
.text-center{
  font-family: Arial;
  color: #e1e1e1;
}
  
  /* Scroll Icon animated */
.container {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.mouse {
  width: 50px;
  height: 90px;
  border: aliceblue 3px solid;
  border-radius: 60px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: aliceblue;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
      opacity: 0.1;
      top: 60px;
  }
}


/* Estilos para las imágenes tipo sticker */
.sticker {
  position: absolute;
  max-width: 150px;
  cursor: grab;
  transition: transform 0.2s ease;
  z-index: 1;
}
.sticker2 {
  position: absolute;
  max-width: 150px;
  cursor: grab;
  transition: transform 0.2s ease;
  top: 62%;
    left: 28%;
    z-index: 1;

}

/* Cambio de escala al pasar el mouse por encima */
.sticker:hover {
  transform: scale(1.2);
}
.sticker2:hover {
  transform: scale(1.2);
}
/* Posiciones iniciales aleatorias para los stickers */
.sticker:nth-child(1) {
  top: 20px;
  left: 50px;
}

.sticker:nth-child(2) {
  top: 30%;
  left: 58%;
  
}
.sticker2:nth-child(1) {
  top: 20px;
  left: 50px;
}

.sticker2:nth-child(2) {
  top: 80%;
  left: 80%;
  
}

 

@media screen and (min-width: 769px) {
  .sticker1{
   display: none;
  } 
}

@media screen and (max-width: 991px) {
  .sticker:nth-child(2) {
    top: 36%;
    left: 42%;
}
}
@media screen and (max-width: 991px) {
  .sticker2 {
    display: none;
}
}





@media screen and (max-width: 1200px) {
  .sticker2{
    top: 62%;
    left: 25%;
  }
}


/* Main CSS */
.grid-wrapper {
  padding: 1rem 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .grid-wrapper > div:nth-child(even) {
  opacity: 0 !important;
} */

.hide{
  opacity: 0;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper .wide {
  grid-column: span 2;
}
.grid-wrapper .tall {
  grid-row: span 2;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}




@media screen and (max-width: 768px) {
  .grid-wrapper > div {
      grid-column: span 2;
      grid-row: span 2;
  }
}


  /* footer */

footer {
    background-color: #9DD211;
    width: 100%;
    color: var(--white);
    text-align: center;
}
#iconos{
    color: var(--white);
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
  justify-content: center;
  justify-content: space-between;

}
#iconos > div > li {
    list-style: none;
    display: inline;
}
#iconos > div > li > a {

    align-items: center;
    display: inline;
    color: var(--white);
    text-decoration: none;
    justify-content: space-between;
    list-style: none;
} 

footer > section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    align-items: center;
}
footer > section > div > figure {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > section > div > figure > img {
    width: 250px;  
}

footer > div > div > span {
    font-size: small;

    font-weight: bolder;
}

footer > div > ul {

    text-align: end;
    font-weight: bold;
    font-size: x-small;
    display: flex;
    align-items: end;
    justify-content: space-between;
    justify-content: space-around;
    margin: 4px;
    padding-left: 30px;
    padding-right: 30px;
}
ul{
  list-style-type: none;
  text-align: right;
}



footer > div {
    
  
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: space-between;
    justify-items: center;

    /* grid-area: auto; */
    /* grid-gap: 20px 80px; */
}

#subscribe {
  text-align: center;
  margin: 20px 20px;
  color: #000000; /* Ajusta el color según el diseño */
}

#subscribe h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-size: 20px;
  
}
#subscribe p {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-size: 15px;
  
}

#subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#subscribe-form input[type="email"] {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  width: 250px;
}

#subscribe-form button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #000000; /* Color del botón */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#subscribe-form button:hover {
  background-color: #000000; /* Color al pasar el cursor */
}



/* -------CSS TICKETS------ */

body.tickets {
  background-color: black !important;
 }

.overlay-image {
  position: absolute;
  top: 5%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 1;
  width: 30%;
}


.btn-light:hover {
    background-color: #9DD211 !important;
    border-color: #9DD211 !important;     
}
.table-custom .btn-light:hover {
  background-color: #9DD211;
  color: black;
}

.background-container {
  background-image: url(../img/concierto.jpeg) !important;
  background-size: cover;
  background-position: center;
  padding: 50px; /* Espaciado para que no esté pegado a los bordes */
  height: 100vh; /* Asegura que ocupe la pantalla completa */
  display: flex;
  justify-content: flex-end; /* Alinea la tabla hacia la derecha */
  align-items: center; /* Centra verticalmente */
}

/* Ajustes de la tabla */
.fondo-contenedor {
  background-image: url('../img/FONDOTABLA.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.table,
.table thead,
.table tbody,
.table th,
.table td {
  background-color: transparent !important;
  color: #ffffff !important;
  border-color: transparent !important; 
}

.row.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.tabla-derecha {
  margin-left: auto;
  background-color: transparent !important;
}


.fondo-tabla {
  background-color: transparent !important;
  border: none;
}
.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Color de fondo ligero al pasar el cursor */
}


.contenedor-derecha {
  margin-top: -50px;
}




#carouselExampleSlidesOnly .carousel-inner img {
  width: 100%;
  height: 500px; 
  object-fit: cover; 
}



















/* SHOP */
.shop {
  background-color: #000000;
  color: white;
}